.header{
    position: fixed;
    background-color: #000;
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #fed417;
}

.header img {
    margin: 25px;
}

.section{
    background-color: #000;
    height: 100vh;
}

